.container {
  width: auto;
  min-height: 100vh;
  margin-top: 50px;
  padding-bottom: 2.5em;
}
.container .greetings-txt {
  -webkit-animation: fadeIn ease-in-out;
          animation: fadeIn ease-in-out;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  font-family: "Staatliches", cursive;
  font-size: 50px;
  text-align: center;
  padding-top: 2.5rem;
}
.container .greetings-txt .greetings-txt-animation {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.container .greetings-txt .greetings-txt-animation:hover {
  color: royalblue;
}
.container #bio-intro {
  text-align: center;
}
.container #bio-intro #profile-pic {
  -webkit-animation: slideInFromBottom ease-out;
          animation: slideInFromBottom ease-out;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.25);
          animation-timing-function: cubic-bezier(0.1, 0.25);
  border-radius: 5%;
  text-decoration: none;
}
.container #bio-intro #profile-pic:hover {
  -webkit-animation-play-state: paused, running;
          animation-play-state: paused, running;
}
.container #bio-intro .bio-intro-txt {
  font-family: "Sen", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 1rem;
  border-left: 2px solid black;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.container #bio-intro .bio-intro-txt a {
  text-decoration: none;
}
.container #bio-intro .bio-intro-txt:hover {
  color: royalblue;
}
.container #bio-intro #modal-btn-lng {
  font-size: larger;
}
.container #bio-intro #modal-lng {
  font-family: "Sen", sans-serif;
}
.container #bio-intro #modal-lng h5 {
  color: royalblue;
}
.container #bio-intro #modal-lng .modal-content {
  background: url(../img/white-lines.png);
}
.container #bio-txt {
  font-family: "Sen", sans-serif;
  text-align: left;
}
.container #bio-txt a {
  text-decoration: none;
}
.container #bio-txt .bio-txt-top {
  font-size: larger;
  text-align: justify;
  padding: 1em;
  border-left: 4px solid black;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.container #bio-txt .bio-txt-top:hover {
  color: royalblue;
}
.container #bio-txt #cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: larger;
}
.container #bio-txt #cards .card {
  margin: 1em;
}
.container h4 {
  letter-spacing: 1px;
  padding: 0.5em;
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 38px;
}
.container h2 {
  font-family: "Staatliches", cursive;
}
.container .dsc {
  font-size: larger;
}
.container #btn-collapse {
  font-family: "Staatliches", cursive;
  text-align: center;
  padding: 2.5em;
}
.container #project-c-1 h1 a {
  text-decoration: none;
}
.container #project-c-1 h2 {
  margin-top: 2rem;
  padding: 0.5rem;
  font-family: "Staatliches", cursive;
  text-align: left;
  letter-spacing: 1px;
}
.container #project-c-1 p {
  padding: 1rem;
  border-left: 2px solid black;
  font-family: "Sen", sans-serif;
  font-size: larger;
  text-align: justify;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.container #project-c-1 p:hover {
  color: royalblue;
}
.container #project-c-1 #iframe {
  text-align: center;
}
.container #project-c-1 #iframe iframe {
  border: 2.5px;
  border-style: solid;
  border-color: royalblue;
}
.container #project-c-1 .carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.125);
}
.container #project-c-1 .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.125);
}
.container #contact-info {
  font-family: "Sen", sans-serif;
  font-size: larger;
  text-align: center;
  padding: 1em;
}
.container #contact-info p a {
  text-decoration: none;
}
.container #iframe-map-contact {
  text-align: center;
}
.container #iframe-map-contact iframe {
  border: 0.25em;
  border-style: solid;
  border-color: royalblue;
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .container #bio-intro {
    margin: 0.25rem;
  }
  .container #bio-intro #profile-pic {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .container #arrow {
    font-family: "Rock Salt", cursive;
    position: relative;
  }
  .container #arrow .arrow-img {
    margin-left: 0.25rem;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    rotate: 65deg;
    position: absolute;
    top: -2rem;
    right: 15rem;
  }
  .container #arrow .arrow-txt {
    position: absolute;
    top: -1rem;
    right: 1rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .container #bio-intro #profile-pic {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .container #arrow {
    font-family: "Rock Salt", cursive;
    position: relative;
  }
  .container #arrow .arrow-img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    rotate: 65deg;
    position: absolute;
    top: -2rem;
    right: 26rem;
  }
  .container #arrow .arrow-txt {
    position: absolute;
    top: -1rem;
    right: 12rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container #bio-intro #profile-pic {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .container #arrow {
    font-family: "Rock Salt", cursive;
    position: relative;
  }
  .container #arrow .arrow-img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    rotate: 65deg;
    position: absolute;
    top: -2rem;
    right: 40rem;
  }
  .container #arrow .arrow-txt {
    position: absolute;
    top: -1rem;
    right: 26rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container #bio-intro #profile-pic {
    margin-top: 125px;
    margin-left: -60px;
  }
  .container #arrow {
    font-family: "Rock Salt", cursive;
    position: relative;
  }
  .container #arrow .arrow-img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    rotate: 65deg;
    position: absolute;
    top: -2.25rem;
    right: 35rem;
  }
  .container #arrow .arrow-txt {
    position: absolute;
    top: -1.25rem;
    right: 21rem;
  }
}
@media screen and (min-width: 1200px) {
  .container #bio-intro #profile-pic {
    margin-top: 125px;
    margin-left: -60px;
  }
  .container #arrow {
    font-family: "Rock Salt", cursive;
    position: relative;
  }
  .container #arrow .arrow-img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    rotate: 65deg;
    position: absolute;
    top: -2.25rem;
    right: 42.5rem;
  }
  .container #arrow .arrow-txt {
    position: absolute;
    top: -1.25rem;
    right: 28.5rem;
  }
}

.offcanvas-body h2 {
  font-family: "Staatliches", cursive;
  font-size: 32px;
  letter-spacing: 1px;
}
.offcanvas-body H4 {
  Font-family: "Staatliches", cursive;
  font-size: 28px;
  letter-spacing: 1px;
}

#TSL-project {
  font-family: "Sen", sans-serif;
}
#TSL-project .content h1 {
  color: #e4a11b;
  padding: 1rem;
}
#TSL-project .content div #descTxt {
  font-family: "Sen", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 1rem;
  margin-bottom: 5rem;
  border-left: 2px solid black;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
#TSL-project .content div #descTxt:hover {
  color: royalblue;
}
#TSL-project .content #selectField {
  text-align: center;
  margin: auto;
}
#TSL-project .content #selectField select {
  color: #e4a11b;
  border: 2px solid #999;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 75%;
}
#TSL-project .content #selectField select option {
  background-color: #999;
  color: royalblue;
  font-size: large;
}
#TSL-project .content #dimensions {
  margin: auto;
  text-align: center;
}
#TSL-project .content #dimensions h4 {
  margin-top: 2.5rem;
  color: orange;
}
#TSL-project .content #dimensions .txt {
  padding: 0.25rem;
}
#TSL-project .content #dimensions #cargoValue div .txtCargo {
  margin-bottom: -0.05rem;
}
#TSL-project .content #dimensions #cargoValue div input {
  border: 2px;
  border-style: solid;
  border-color: #e4a11b;
}
#TSL-project .content #dimensions .valueDimensions {
  margin: auto;
  margin-top: -1.125rem;
  color: black;
  width: 75%;
  border: 2px;
  border-style: solid;
  border-color: #e4a11b;
}
#TSL-project .content #dimensions input {
  text-align: center;
  width: 75%;
}
#TSL-project .content #btnAdding {
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
}
#TSL-project .content #btnReset {
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
}

nav {
  background: linear-gradient(120deg, #0077cc, royalblue, #0066cc, #0055cc, #0044cc, #0044cc, #0055cc, #0066cc, royalblue, #0077cc);
  background-size: 400% 400%;
  -webkit-animation: gradientDistorse 15s ease infinite;
          animation: gradientDistorse 15s ease infinite;
}
@-webkit-keyframes gradientDistorse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientDistorse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav div #author {
  font-family: "Rock Salt", cursive;
  font-size: medium;
  color: white;
}
nav div div {
  font-family: "Sen", sans-serif;
}
nav div div ul li {
  font-family: "Sen", sans-serif;
  font-size: larger;
  padding: 0.1em;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: linear-gradient(120deg, #0077cc, royalblue, #0066cc, #0055cc, #0044cc, #0044cc, #0055cc, #0066cc, royalblue, #0077cc);
  background-size: 400% 400%;
  -webkit-animation: gradientDistorse 15s ease infinite;
          animation: gradientDistorse 15s ease infinite;
  color: white;
  font-family: "Sen", sans-serif;
  font-size: large;
}
@keyframes gradientDistorse {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#footer span {
  text-align: center;
}
#footer select {
  background: url(../img/white-lines.png);
  color: royalblue;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
#footer select option {
  background: url(../img/white-lines.png);
  color: royalblue;
  font-size: large;
}
#footer #selectFooter {
  border-radius: 10%;
  margin-bottom: 0.25em;
}
#footer span {
  text-align: center;
  letter-spacing: 0.5px;
  padding: 0.2em;
}
#footer span a {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideInFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook span {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: royalblue;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook span:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.36s;
          animation-delay: -0.36s;
}

.lds-facebook span:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-facebook span:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  100% {
    top: 24px;
    height: 32px;
  }
}
html {
  scroll-behavior: smooth;
}
html body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/white-lines.png);
  color: black;
}/*# sourceMappingURL=style.css.map */