@import "colors";
@import "fonts";

@import "master";
@import "TSL";
@import "nav";
@import "footer";
@import "extras";

html {
  scroll-behavior: smooth;

  body {
    box-sizing: border-box;

    background: url(../img/white-lines.png);
    color: $font-regular-color;
  }
}
